<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;margin:0;">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能交通系统</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/StreetCrowd/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/StreetCrowd/js/modernizr.custom.js"></script>
    <script src="../../static/StreetCrowd/echarts/echarts.min.js"></script>
    <script src="../../static/StreetCrowd/js/EchartsLayer.js"></script>
{#    <script src="../../static/StreetCrowd/echarts/echarts.js"></script>#}
    <script src="http://echarts.baidu.com/resource/echarts-gl-latest/dist/echarts-gl.min.js"></script>
    <script src="../../static/StreetCrowd/js/my.js"></script>
    <script src="../../static/StreetCrowd/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../static/StreetCrowd/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/StreetCrowd/css/component.css"/>
    <link rel='stylesheet' href='../../static/StreetCrowd/css/bootstrap.css' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
    <style type="text/css">
        .mapboxgl-ctrl-attrib {
         font-size: 10px;
        }
    </style>
</head>
<body style="width:100%;height:100%;margin:0;">

<div id="main" style="width:100%;height:100%;float:right;margin:0;font-size:36px;" title="智能交通系统">
</div>


<script type="text/javascript">
    mapboxgl.accessToken ='pk.eyJ1IjoiY2l0eXdhbmRlciIsImEiOiJjamE4ODM2YjQwNDB5MzNwY2hvanV2eDhiIn0.QCJ3-UnEddwCuxg8uvhLcQ';
    var map = new mapboxgl.Map({
        container: 'main',
        style: 'mapbox://styles/citywander/cje6hjeijgd862sscrg4its0r',
        center: [116.402030, 39.937034],
        zoom: 13.7
    });

    var myChart=new EchartsLayer(map);
    myChart.chart.setOption(option = {
        GLMap: {
        },
        /*visualMap: {	// 视觉映射组件
            type: 'continuous',
            min: 0,
            max: 100,
            calculable: true,
            inRange: {
                color: ['#50a3ba', '#eac736', '#d94e5d']
            },
        },*/
        series: [{
            type: 'scatter',
            coordinateSystem: 'GLMap',
            data: []
        }]


    });

    var id = 1;//timeID
    var counter = 0;//统计动画次数，以0为周期
    var lineId = 0;//数据已经读到哪一行
    var cars_list ={{cars_list|safe}};
    var length = cars_list.length;
    var time_id ={{time_id|safe}};
    var car_id={{car_id|safe}};

    var dataL=[];//这一时刻的数据
    var dataR=[];//下一时刻的数据
    var dataMid=[];//二个时刻中间的过渡数据
    var addition=[];//过渡增量

    var spTmp=[];
    var loTmp=[];
    var laTmp=[];

    //animation
    window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (/* function FrameRequestCallback */ callback, /* DOMElement Element */ element) {
                window.setTimeout(callback, 1000 / 60);
            };
    })();

    /*var ecModel = myChart._model;
    var bmap = null;
    ecModel.eachComponent('bmap', function (bmapModel) {
        if(bmap == null){
            bmap = bmapModel.__bmap;
        }
    });

    bmap.addEventListener("mousemove", function(e){
        document.getElementById("main").title=e.point.lng + ", " + e.point.lat;
    });*/

    function animloop() {
        if (counter == 0) {
            selectData();
            /*if(bmap.getZoom()>15)
            {
                myChart.setOption({
                    bmap: {
                        roam: true
                    },
                    visualMap: {	// 视觉映射组件
                        type: 'continuous',
                        min: 0,
                        max: 100,
                        calculable: true,
                        inRange: {
                            color: ['#50a3ba', '#eac736', '#d94e5d']
                        },
                    },
                    series: [{
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        data: carsData,
                        symbolSize: 4
                    }]


                });
            }
            else{
                */
                myChart.chart.setOption(option = {
                    GLMap: {
                        roam: true
                    },
                    visualMap: {	// 视觉映射组件
                        type: 'continuous',
                        min: 0,
                        max: 300,
                        splitNumber: 5,
                        seriesIndex: 0,
                        calculable: true,
                        inRange: {
                            color: ['#1E90FF','#228B22', '#FFFF00', '#FF8C00', '#FF0000']
                        }
                    },
                    series: [{
                        type: 'heatmap',
                        coordinateSystem: 'GLMap',
                        data: dataL,
                        minAlpha: 0.1,
                        maxOpacity: 1.0,
                        minOpacity:0.4,
                        pointSize: 11,
                        blurSize: 10
                    }]


                });
           // }

            counter++;
        }
        else
        {
            if(id<=535)
            {
                for(var i=0;i<dataMid.length;i++)
                {
                    for(var j=0;j<3;j++)
                        dataMid[i][j]+=addition[i][j];
                }
            }

            myChart.chart.setOption(option = {
                GLMap: {
                    roam: true
                },
                visualMap: {	// 视觉映射组件
                    type: 'continuous',
                    min: 0,
                    max: 300,
                    splitNumber: 5,
                    seriesIndex: 0,
                    calculable: true,
                    inRange: {
                        color: ['#1E90FF','#228B22', '#FFFF00', '#FF8C00', '#FF0000']
                    }
                },
                series: [{
                    type: 'heatmap',
                    coordinateSystem: 'GLMap',
                    data: dataMid,
                    minAlpha: 0.1,
                    maxOpacity: 1.0,
                    minOpacity:0.4,
                    pointSize: 11,
                    blurSize: 10
                }]


            });

            if(counter==59)
                counter=0;
            else
                counter += 1;
        }

        requestAnimFrame(animloop);
    }

    function selectData() {
        if(id==536)
            id=1;
        dataL.splice(0,dataL.length);
        dataMid.splice(0,dataMid.length);
        dataR.splice(0,dataR.length);
        addition.splice(0,addition.length);
        var flag=[];
        for(var i=0;i<=1400;i++)
            flag.push(0);

        for (var i = lineId; i < length; i++) {

            if (time_id[i]-id>1) {
                id++;
                break;
            }
            else if(time_id[i]-id==1)
            {
                if(flag[car_id[i]]==1){
                    var t1=(cars_list[i][0]-laTmp[car_id[i]])/60;
                    var t2=(cars_list[i][1]-loTmp[car_id[i]])/60;
                    var t3=(cars_list[i][2]-spTmp[car_id[i]])/60;

                    addition.push(new Array(t1,t2,t3));
                    dataMid.push(new Array(laTmp[car_id[i]]+t1,loTmp[car_id[i]]+t2,spTmp[car_id[i]]+t3));
                }
            }
            else
            {
                flag[car_id[i]]=1;
                spTmp[car_id[i]]=cars_list[i][2];
                dataL.push(cars_list[i]);
                laTmp[car_id[i]]=cars_list[i][0];
                loTmp[car_id[i]]=cars_list[i][1];
                lineId++;
            }

            /*if(cars_list[i][2]<40)
            {
                res.push(new Array(cars_list[i][0]-0.001,cars_list[i][1],cars_list[i][2]));
                res.push(new Array(cars_list[i][0]+0.001,cars_list[i][1],cars_list[i][2]));
                res.push(new Array(cars_list[i][0],cars_list[i][1]-0.001,cars_list[i][2]));
                res.push(new Array(cars_list[i][0],cars_list[i][1]+0.001,cars_list[i][2]));
            }*/
            if (i == length - 1&&lineId==length) {
                lineId = 0;
                id = 536;
            }
        }

        if(id==536){
            for(var i=0;i<dataL.length;i++)
            {
                dataMid.push(dataL[i]);
            }
        }

    }

    function loadAnimaton() {
        for(var i=0;i<=1400;i++)
        {
            spTmp.push(0.0);
            laTmp.push(0.0);
            loTmp.push(0.0);
        }
        requestAnimFrame(animloop);
    }

    /*function setBaiduMapZoom(){
        bmap.setZoom(16);
    }*/
</script>
<div class="side">
    <nav class="dr-menu">
        <div class="dr-trigger" style="color:#91cfa1;position:absolute;top:0px;left:0px;"><span
                class="dr-icon dr-icon-menu"></span></div>
        <ul>
            <li>
                <button type="button" class="btn btn-primary dr-icon-user" data-toggle="modal"
                        data-target="#DataLoadModal" style="background-color:#91cfa1;">Upload Data
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary dr-icon dr-icon-camera"
                        onclick="loadAnimaton()" style="background-color:#91cfa1;">
                    Start Animation
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary dr-icon dr-icon-heart"
                        style="background-color:#91cfa1;">WXZHQ
                </button>
            </li>
            <li><a class="dr-icon dr-icon-bullhorn" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-download" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-settings" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-switch" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
        </ul>
    </nav>
</div>


<!--Data Load Modal -->
<div class="modal fade" id="DataLoadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">上传数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/StreetCrowd/upload/" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                {% csrf_token %}
                <div class="modal-body">

                    <input type="file" class="file-input" name="file" id="fileUpload">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" id="import" value="确认"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="../../static/StreetCrowd/js/ytmenu.js"></script>

</body>
</html>