<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;margin:0;">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能交通系统</title>
    <script src="../../static/StreetCrowd/js/modernizr.custom.js"></script>
    <script src="../../static/StreetCrowd/echarts/echarts.js"></script>
    <script src="../../static/StreetCrowd/js/bmap.js"></script>
    <script src="../../static/StreetCrowd/js/my.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/StreetCrowd/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=	fbe6snfTOIL7y9MyEIUvl5QvN8qL5v32"></script>
    <link rel="stylesheet" type="text/css" href="../../static/StreetCrowd/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/StreetCrowd/css/component.css"/>
      
    <link href="../../static/StreetCrowd/css/bootstrap.css" rel="stylesheet">
</head>
<body style="width:100%;height:100%;margin:0;">

<div id="main" style="width:100%;height:100%;float:right;margin:0;font-family:"微软雅黑";font-size:36px;" title="智能交通系统">
</div>


<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption({
        bmap: {
            center: [116.402030, 39.937034],
            zoom: 13.7,
            roam: true,
            mapStyle: {
                styleJson: [
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#f3f3f3ff"
                        }
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#3d85c6ff"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#93c47dff"
                        }
                    },
                    {
                        "featureType": "railway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "on"
                        }
                    },
                    {
                        "featureType": "subway",
                        "elementType": "all",
                        "stylers": {
                            "visibility": "on"
                        }
                    },
                    {
                        "featureType": "manmade",
                        "elementType": "all",
                        "stylers": {
                            "color": "#eeeeeeff"
                        }
                    }
                ]
            }
        },
        /*visualMap: {	// 视觉映射组件
            type: 'continuous',
            min: 0,
            max: 100,
            calculable: true,
            inRange: {
                color: ['#50a3ba', '#eac736', '#d94e5d']
            },
        },*/
        series: [{
            type: 'scatter',
            coordinateSystem: 'bmap',
            data: []
        }]


    });

    var id = 1;//timeID
    var counter = 0;//统计动画次数，以0为周期
    var lineId = 0;//数据已经读到哪一行
    var cars_list ={{cars_list|safe}};
    var length = cars_list.length;
    var time_id ={{time_id|safe}};

    //animation
    window.requestAnimFrame = (function () {
        return window.requestAnimationFrame ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame ||
            window.oRequestAnimationFrame ||
            window.msRequestAnimationFrame ||
            function (/* function FrameRequestCallback */ callback, /* DOMElement Element */ element) {
                window.setTimeout(callback, 1000 / 60);
            };
    })();

    var ecModel = myChart._model;
    var bmap = null;
    ecModel.eachComponent('bmap', function (bmapModel) {
        if(bmap == null){
            bmap = bmapModel.__bmap;
        }
    });

    bmap.addEventListener("mousemove", function(e){
        document.getElementById("main").title=e.point.lng + ", " + e.point.lat;
    });

    function animloop() {
        if (counter == 0) {
            var carsData = selectData();
            if(bmap.getZoom()>15)
            {
                myChart.setOption({
                    bmap: {
                        roam: true
                    },
                    visualMap: {	// 视觉映射组件
                        type: 'continuous',
                        min: 0,
                        max: 100,
                        calculable: true,
                        inRange: {
                            color: ['#50a3ba', '#eac736', '#d94e5d']
                        },
                    },
                    series: [{
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        data: carsData,
                        symbolSize: 4
                    }]


                });
            }
            else{
                myChart.setOption({
                    bmap: {
                        roam: true
                    },
                    visualMap: {	// 视觉映射组件
                        type: 'continuous',
                        min: 0,
                        max: 300,
                        splitNumber: 5,
                        seriesIndex: 0,
                        calculable: true,
                        inRange: {
                            color: ['#32ff7e', '#fffa65', '#ffaf40', '#ff4d4d']
                        }
                    },
                    series: [{
                        type: 'heatmap',
                        coordinateSystem: 'bmap',
                        data: carsData,
                        minAlpha: 0.1,
                        maxOpacity: 1.0,
                        pointSize: 14,
                        blurSize: 15
                    }]


                });
            }

            counter++;
        }
        else
        {
            if(counter==29)
                counter=0;
            else
                counter += 1;
        }

        requestAnimFrame(animloop);
    }

    function selectData() {
        var res = [];
        for (var i = lineId; i < length; i++) {
            if (i == length - 1) {
                lineId = 0;
                id = 1;
                break;
            }

            if (time_id[i] != id) {
                id++;
                break;
            }
            res.push(cars_list[i]);
            if(cars_list[i][2]<40)
            {
                res.push(new Array(cars_list[i][0]-0.001,cars_list[i][1],cars_list[i][2]));
                res.push(new Array(cars_list[i][0]+0.001,cars_list[i][1],cars_list[i][2]));
                res.push(new Array(cars_list[i][0],cars_list[i][1]-0.001,cars_list[i][2]));
                res.push(new Array(cars_list[i][0],cars_list[i][1]+0.001,cars_list[i][2]));
            }
            lineId++;
        }

        return res;
    }

    function loadAnimaton() {
        requestAnimFrame(animloop);
    }

    /*function setBaiduMapZoom(){
        bmap.setZoom(16);
    }*/
</script>
<div class="side">
    <nav class="dr-menu">
        <div class="dr-trigger" style="color:#91cfa1;position:absolute;top:0px;left:0px;"><span
                class="dr-icon dr-icon-menu"></span></div>
        <ul>
            <li>
                <button type="button" class="btn btn-primary dr-icon-user" data-toggle="modal"
                        data-target="#DataLoadModal" style="background-color:#91cfa1;">Upload Data
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary dr-icon dr-icon-camera"
                        onclick="loadAnimaton()" style="background-color:#91cfa1;">
                    Start Animation
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary dr-icon dr-icon-heart"
                        style="background-color:#91cfa1;">WXZHQ
                </button>
            </li>
            <li><a class="dr-icon dr-icon-bullhorn" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-download" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-settings" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
            <li><a class="dr-icon dr-icon-switch" href="#" style="background-color:#91cfa1;">WXZHQ</a></li>
        </ul>
    </nav>
</div>


<!--Data Load Modal -->
<div class="modal fade" id="DataLoadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">上传数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/StreetCrowd/upload/" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                {% csrf_token %}
                <div class="modal-body">

                    <input type="file" class="file-input" name="file" id="fileUpload">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" id="import" value="确认"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="../../static/StreetCrowd/js/ytmenu.js"></script>

</body>
</html>